<div id="about-us" class="aboutus">
    <h2>About Us</h2>
    <p>
        We are upset about the lack of mobile games that offer tangible educational value. Current offerings are either
        boring or focus solely on memorization.
        We have created Bubblo World Preschool as a first step towards addressing these problems for preschool kids.
        Bubblo World Preschool helps kids develop their problem solving skills offering them needed intelligence
        and brain cognitive development. We understand that screen time should be limited
        and that's why it's critical to play this game together with your kids.
    </p>
</div>