<div id="mission" class="mission">
    <h2>Mission</h2>
    <h3>
        We use games as a medium for education.
        We believe games are a powerful tool to deliver educational value, but currently they are mostly used for
        entertainment.
<!--        We create educational products with tangible value. Current offerings are either-->
<!--        boring or focus on memorization.-->
    </h3>
<!--    <p>-->
<!--        We have created Bubblo World Preschool as <b>a first step</b> towards addressing these problems for preschool kids.-->
<!--        Bubblo World Preschool helps kids develop their problem solving skills offering them needed intelligence-->
<!--        and brain cognitive development. We understand that screen time should be limited-->
<!--        and that's why it's critical to play this game together with your kids.-->
<!--    </p>-->
</div>