<!DOCTYPE html>
<html lang="en-us">

{% include head.html page=site.page.games %}
{% assign page = site.page.games %}

<body class="games-container">
    {% include header.html page=site.page.games %}
    <div class="games">
        {% for page_dict in site.page %}

            {% assign page_content = page_dict[1] %}
            {% if page_content.is_game %}
                <div class="game">
                    <a href="{{page_content.url}}">
                        <div class="appIcon">
                            <img class="appIconLarge" src="{{ page_content.app_icon }}" alt="{{ page_content.name }} logo">
                        </div>
                    </a>
                    <div class="appName">
                        <a href="{{page_content.url}}">
                            <p>
                                {{ page_content.app_name }}
                            </p>
                        </a>
                        <p class="appPrice">
                            {{ page_content.app_headline }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    {% include footer.html %}
</body>
</html>